// Base structure

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    @include background-image-retina($base-background-image, 512px, 512px);
    color: $base-foreground-color;
    text-align: center;
    background-color: $base-background-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5 {
    font-weight: 300;
}

// This will get the negative margin when >768px
%site-wrapper {
    display: table;
    width: 100%;
    height: 100%; // For at least Firefox
    min-height: 100%;
}

.site-wrapper {
    @extend %site-wrapper;
}

// Extra markup and styles for table-esque vertical and horizontal centering
.site-wrapper-shadow {
    @extend %site-wrapper;
    box-shadow: inset 0 0 100px $black-transparent;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

.cover-container {
    margin-right: auto
    margin-left: auto;
}


// Padding for spacing
.inner {
    padding: 30px;
}

.inner-small {
    padding: 10px;
}

.blink-logo {
    @include background-image-retina($base-logo-image, 125px, 125px);
    width: 125px;
    height: 125px;
    margin: 0 auto;
}

// Cover

.cover {
    padding: 0 20px;

    .btn-lg {
        padding: 10px 20px;
        font-weight: bold;
    }
}

// Footer

.footer {
    position: fixed;
    bottom: 0;
    font-size: 11px;
    color: $white-transparent;
    text-shadow: 0 1px 3px $black-transparent;
}

// Handle the widths
.footer,
.cover-container,
.half-width {
    width: 100%; // Must be percentage or pixels for horizontal alignment
}


@media (min-width: 992px) {
    .half-width {
        width: 500px;
    }
}
