// Base structure

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    @include background-image-retina($base-background-image, 512px, 512px);
    color: $base-foreground-color;
    text-align: center;
    background-color: $base-background-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5 {
    font-weight: 300;
}

// This will get the negative margin when >768px
%site-wrapper {
    display: table;
    width: 100%;
    height: 100%; // For at least Firefox
    min-height: 100%;
}

.site-wrapper {
    @extend %site-wrapper;
}

// Extra markup and styles for table-esque vertical and horizontal centering
.site-wrapper-shadow {
    @extend %site-wrapper;
    box-shadow: inset 0 0 100px $black-transparent;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}


// Padding for spacing
.inner {
    padding: 30px;
}

.inner-small {
    padding: 10px;
}

.blink-logo {
    @include background-image-retina($base-logo-image, 125px, 125px);
    width: 125px;
    height: 125px;
    margin: 0 auto;
}

// Stckiy layer to top
.sticky-wrapper {
    position: sticky;
    top: -1px;
    z-index: 1;
    margin-top: calc(50vh - 159px);
    margin-right: -20px;
    margin-left: -20px;
}

.sticky {
    //sass-lint:disable-block no-color-literals, property-sort-order
    /* stylelint-disable order/properties-order,declaration-block-no-shorthand-property-overrides */
    background-color: $black-less-transparent;
    background: linear-gradient(180deg, $black 0%, rgba($black, .95) 15%, rgba($black, .55) 80%, rgba($black, 0) 100%);
    /* stylelint-enable */
}


// Cover

.cover {
    padding: 0 20px;

    .btn-lg {
        padding: 10px 20px;
        font-weight: bold;
    }
}

// Scroll main section

.scroll {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    margin-top: 50px;
    overflow-x: hidden;
    overflow-y: auto;

    .footer {
        position: static;
        padding-top: 10px;
    }
}

// Footer

.footer {
    position: fixed;
    bottom: 0;
    font-size: 11px;
    color: $white-transparent;
    text-shadow: 0 1px 3px $black-transparent;
}

// Handle the widths
.footer,
.cover-container,
.half-width {
    width: 100%; // Must be percentage or pixels for horizontal alignment
}


@media (min-width: 992px) {
    .half-width {
        width: 500px;
        margin: auto;
    }
}

// Helper to include shadow if footer is not displayed from main
.extra-shadow {
    position: fixed;
    bottom: -100px;
    z-index: 10;
    width: 100vw;
    height: 100px;
    margin: 0 -20px;
    box-shadow: 0 -5px 100px $black-transparent;
}

.chat-image {
    width: 300px;
    height: 300px;
    @include background-image-retina($video-big-poster-image, 300px, 300px);
    filter: brightness(75%);
    opacity: .8;
}

.chat {
    .conference-drawer {
        .editor-wrapper {
            border: 0;
            box-shadow: none;
        }
        .top-editor-wrapper {
            padding-top: 10px;
            border-top: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
}
