.call-buttons {
    bottom: 0 !important;
    left: 0;
    margin: auto;
    overflow: hidden;
    padding-bottom: 35px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.top-overlay {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.call-header {
    background: $white-less-transparent;
    color: $black;
    padding: 4px 0;

    p {
        font-size: 17px !important;
        line-height: 1.2 !important;
        margin-bottom: 2px !important;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    p + p {
        margin-bottom: 0 !important;
    }
}

// Buttons Animation

.videobuttons-enter {
    -webkit-animation: fadeInUp linear .3s;
    animation: fadeInUp linear .3s;
}

.videobuttons-leave {
    &.videobuttons-leave-active {
        -webkit-animation: fadeOutDown linear .3s;
        animation: fadeOutDown linear .3s;
    }
}

// Video header animation
.videoheader-enter {
    -webkit-animation: fadeInDown linear .3s;
    animation: fadeInDown linear .3s;
}

.videoheader-leave {
    &.videoheader-leave-active {
        -webkit-animation: fadeOutUp linear .3s;
        animation: fadeOutUp linear .3s;
    }
}

// Watermark animation
.watermark-enter {
    -webkit-animation: fadeIn linear .6s;
    animation: fadeIn linear .6s;
}

.watermark-leave {
    &.watermark-leave-active {
        -webkit-animation: fadeOut linear .3s;
        animation: fadeOut linear .3s;
    }
}
