.call-buttons {
    position: absolute;
    right: 0;
    bottom: 0 !important;
    left: 0;
    z-index: 1;
    padding-bottom: 35px;
    margin: auto;
    overflow: hidden;
}

.top-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;

    &.on-top {
        z-index: 1500;
    }
}

.drawer-visible {
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    display: flex;
    width: calc(100% - 350px) !important;
    margin-right: 350px;
}

.drawer-half-visible {
    @extend .drawer-visible;
    width: 50% !important;
}

.drawer-wide-visible {
    @extend .drawer-visible;
    width: calc(100% - 450px) !important;
    margin-right: 450px;
}

.call-header {
    padding: 4px 0;
    color: $white;
    background-color: $darker-gray-transparent;

    p {
        margin-bottom: 2px !important;
        overflow: hidden;
        font-size: 17px !important;
        line-height: 1.2 !important;
        text-overflow: ellipsis;
    }

    p + p {
        margin-bottom: 0 !important;
    }

    &.solid-background {
        background-color: $darker-gray;
    }

    .btn-link {
        padding-top: 9.5px;
        padding-bottom: 7.5px;
        margin-top: -3.5px;
        color: $lighter-gray;

        &:hover {
            color: $white;
        }

        &.active {
            color: #fff;
            background-color: rgb(8, 8, 8);
        }

    }

    .blink {
        animation: blink 1s infinite;
        animation-direction: alternate;
    }

    @keyframes blink {
        0% { color: #5cb85c; opacity: 1; }
        50% { color: #5cb85c;transform: scale(1.1); }
        100% { color: #5cb85c;transform: scale(0.9); }
    }

    .call-top-left-buttons {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 3.5px;

    }

    .call-top-buttons {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 3.5px;
    }


}

.call-user-icon {
    padding-bottom: 100px;
    margin: auto;
}

// Buttons Animation

.videobuttons-enter {
    animation: fadeInUp linear .3s;
}

.videobuttons-exit {
    &.videobuttons-exit-active {
        animation: fadeOutDown linear .3s;
    }
}

// Video header animation
.videoheader-enter {
    animation: fadeInDown linear .3s;
}

.videoheader-exit {
    &.videoheader-exit-active {
        animation: fadeOutUp linear .3s;
    }
}

// Watermark animation
.watermark-enter {
    animation: fadeIn linear .6s;
}

.watermark-exit {
    &.watermark-exit-active {
        animation: fadeOut linear .3s;
    }
}
