.conference-buttons {
    padding-top: 10px;
    margin: auto;
    overflow: hidden;
}

.conference-thumbnails {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    max-height: 114px;
    min-height: 114px;

    .participant-container {
        width: $video-thumbnail-width !important;
        height: $video-thumbnail-height !important;
        margin: 5px;

        video {
            width: 100% ;
            height: 100% ;
            background-color: $gray;
            border: 1px solid $white;
            border-radius: 10px;
        }
    }

    .conference-active {
        box-shadow: 0 0 10px 2px $bootstrap-base;
    }

    .mute {
        position: relative;
        z-index: 2;
        // Thumbnail-size - button-size, center is calculated width + button-size
        width: 105px;
        // height div - .5 * height-video - .5 * height-button
        margin-bottom: -80px;

        button {
            transform: translateX(50%);
        }
    }


    .mute-self {
        position: absolute;
        top: 39px;
        z-index: 2;
        width: 136px;
        text-align: center;

        i {
            transform: translateX(50%);
        }
    }

    .left-arrow {
        float: left;
        margin-left: 15px;
        color: $light-gray;
        transform: translateY(50%);
    }

    .right-arrow {
        float: right;
        margin-right: 15px;
        color: $light-gray;
        transform: translateY(50%);
    }

    .carousel {
        margin-right: 50px !important;
        margin-left: 50px !important;
        overflow: hidden;
    }

    .carousel-list {
        padding-bottom: 17px;
        margin: auto !important;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
}

// Carousel Animation

.carousel-enter {
    animation: fadeIn ease .5s;
}

.carousel-leave {
    &.carousel-leave-active {
        animation: fadeOutDown ease .3s;
    }
}
