// General

// Forms

.form-dial,
.form-guest,
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-dial {
    max-width: 360px;
}

.form-signin {
    .checkbox,
    .form-signin-heading {
        margin-bottom: 10px;
    }

    .checkbox {
        font-weight: normal;
    }

    input {
        &[type='password'] {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
    }

    .input-group {
        &:first-of-type {
            input {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;

                // Needed to display blue border over next input group
                &:focus {
                    z-index: 3;
                }
            }

            .input-group-addon {
                &:first-child {
                    padding: 10px;
                    padding-top: 11px;
                    margin-bottom: -1px;
                    font-size: 16px;
                    border: 0;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }

        ~.input-group {
            .input-group-addon {
                &:first-child  {
                    padding: 10px;
                    padding-top: 12px;
                    padding-bottom: 11px;
                    font-size: 16px;
                    border: 0;
                    border-top: 1px solid $light-gray;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
            }
        }
    }
}

.form-guest,
.form-signin-electron {
    .input-group {
        ~.input-group {
            margin-bottom: 20px;
        }
    }
}

.form-guest,
.form-signin {
    .form-control {
        position: relative;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
        font-size: 16px;
    }
}
