@mixin background-image-retina($file, $width: auto, $height: auto, $type: 'png') {
    background-image: url($file + '.' + $type);
    background-size: $width $height;
    @media only screen and (min-resolution: 1.5dppx) {
            & {
                background-image: url($file + '@2x.' + $type);
        }
    }
}
