div {
    &.uri-input {
        .algolia-autocomplete {
            width: 100%;

            .aa-hint {
                color: $lighter-gray;
            }

            .aa-input,
            .aa-hint {
                width: 100%;
            }

            .aa-dropdown-menu {
                width: 100%;
                background-color: $white;
                border: 1px solid $lighter-gray;
                border-top: 0;

                .aa-suggestion {
                    padding: 5px 4px;
                    cursor: pointer;
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: baseline;
                    user-select: none;      // voorkomt dat individuele spans apart geselecteerd worden
                    text-align: left;

                    .uri {
                        font-weight: 600;
                        color: $gray;
                        margin-right: 4px;
                        flex-shrink: 0;
                        line-height: 1.5;     // zorg dat het gelijk staat met de naam
                    }

                    .name {
                        color: $lighter-gray;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap !important;
                        flex-shrink: 1;
                        line-height: 1.5;     // gelijk aan URI
                    }

                    &.aa-cursor {
                        background-color: $bootstrap-link-hover-bg;

                        .uri {
                            color: darken($gray, 5%);
                        }
                    }
                }
            }
        }
    }
}
