.semi-transparent {
    opacity: .7;
}

// Rotate 135 degrees

.rotate-135 {
    transform: rotate(135deg);
}

// Bigger fa-4

.fa-4 {
    font-size: 7em;
}

.fa-5 {
    font-size: 8em;
}
// First letter is a capital

.capitalize {
    text-transform: capitalize;
}

// Shift icons so they overlap

// TODO: rename
.move-icon {
    z-index: 0;
    margin-left: -21px;
}

.move-icon2 {
    z-index: 1;
    margin-left: 28px;
}

.blue-bar {
    background-color: $bootstrap-primary !important;
}

.rotate-minus-45 {
    transform: rotate(-45deg);
}


//extra for messages
.Apple-tab-span {
    display: inline-block;
    width: 2ch; /* tab width */
}
