.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    overflow: none;

    video {
        object-fit: cover;

        &.mirror {
            transform: scaleX(-1);    // mirror
        }

        &.large {
            height: auto !important;
            width: 100% !important;
            min-height: 100%;
            max-height: 100%;
            z-index: 0;
        }

        &.video-thumbnail {
            border: 2px solid $white;
            border-radius: 10px;
            bottom: 10px;
            left: 30px;
            position: absolute;
            width: $video-thumbnail-width !important;
            height: $video-thumbnail-height !important;
            z-index: 3;
        }

        &.poster {
            @include background-image-retina($video-poster-image, 75px, 75px);
            background-blend-mode: luminosity;
            background-position: center;
            background-repeat: no-repeat;

            &.large {
                @include background-image-retina($video-big-poster-image, 350px, 350px);
                background-color: $black-transparent;
            }
        }
    }

    .watermark {
        background-image: url($video-watermark-image);
        height: 50px;
        position: absolute;
        right: 5px;
        top: 0;
        width: 160px;
        z-index: 2;
    }
}
