/*
 * Globals
 */

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

.modal-content a,
.modal-content a:focus,
.modal-content a:hover {
    color: #337ab7;
}

.btn-round {
    border-radius: 50%;
    margin: 4px;
    opacity: 0.9;
    width: 45px;
    height: 45px;
    font-size: 20px;
}

.btn-round-big {
    border-radius: 50%;
    margin: 4px;
    opacity: 0.9;
    width: 55px;
    height: 55px;
    font-size: 22px;
}

.modal-body .lead {
    font-size: 16px;
}
 /*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
    background-image: url(../images/noise_dark2.png);
}
body {
    color: #fff;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5 {
    font-weight:300;
}

html,body { overflow: hidden; }

.padding-left {
    padding-left: 10px;
}

.padding-right {
    padding-right: 10px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper-shadow {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
            box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* this will get the negative margin when >768px */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.loading {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}

.loading-inner {
    display: table-cell;
    vertical-align: middle;
}

.semi {
    opacity: 0.7;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

.inner-small {
    padding: 10px;
}
.blink_logo {
    background-image:url(../images/blink-white.png);
    width:125px;
    height:125px;
    background-size: 125px 125px;
    margin:0 auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
    .blink_logo {background-image:url(../images/blink-white@2x.png);}
}

/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Footer
 */

.footer {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    font-size: 11px;
}

/*
 * Forms
 */

.form-signin, .form-dial, .form-guest {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-guest-switcher {
    max-width: 330px;
    margin: 0 auto;
}

.form-dial {
    max-width: 360px;
}


.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control,
.form-guest .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .input-group:first-of-type input:focus {
    z-index: 3;
}

.form-signin .input-group:first-of-type input {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin .input-group:first-of-type .input-group-addon:first-child {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 16px;
    padding: 10px;
    padding-top: 11px;
    border: 0;
}

.form-signin .input-group:last-of-type .input-group-addon:first-child  {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: 16px;
    padding: 10px;
    padding-bottom: 11px;
    padding-top: 12px;
    border: 0;
    border-top: 1px solid #ccc;
}

.form-signin .input-group:last-of-type,
.form-guest .input-group:last-of-type {
    margin-bottom: 10px;
}

.form-signin input[type="password"]{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }

    .site-wrapper {
        margin-top: -30px;
    }

    .footer {
        position: fixed;
        bottom: 0;
    }
    /* Handle the widths */
    .footer,
    .cover-container,
    .halfWidth {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .footer,
    .cover-container {
        width: 700px;
    }
    .halfWidth {
        width: 500px;
        margin: auto;
    }
}

/*
 * Videotag
 */

.videoContainer video#localVideo {
    transform: scaleX(-1);    /* mirror */
}

.videoContainer video#remoteVideo {
    width: 100%    !important;
    height: auto   !important;
    position: absolute;
    min-height: 100%;
    max-height: 100%;
    top: 0;
    left:0;
    z-index:0;
}

.fullScreen {
    width: 100%    !important;
    height: auto   !important;
    position: absolute;
    min-height: 100%;
    max-height: 100%;
    top: 0;
    left:0;
    z-index:0;
}


.noFullScreen {
    width: auto    !important;
    height: auto   !important;
    border-radius: 10px;
    position: absolute;
    max-width: 200px;
    top: 10px;
    left:30px;
    z-index:3;
    border: 2px solid #ffffff;
}

.videoStarted {
    position: absolute;
    bottom: 0px !important;
    padding-bottom: 35px;
    z-index:1;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: auto;
}

.videoHeader {
    position: absolute;
    left: 0;
    right: 0;
    padding-top:4px;
    z-index: 2;
    top: 0;
    background: rgba(255,255,255,0.8);
    color: #000000;
}

.videoHeader p {
    margin-bottom: 4px !important;
    line-height: 1.2 !important;
    font-size:18px !important;

}


/*
 * Modal colors, text should not be white
 */

.modal-header, .modal-body {
    color: #333 !important;
}

.modal-footer p {
    color: #333 !important;
}

/*
 * Rotate 135 degrees
 */

.rotate-135 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

/*
 * Bigger fa-4
 */
.fa-4 {
    font-size: 7em;
}

/*
 * Shift icons so they overlap
 */
.move-icon {
    margin-left: -21px;
    z-index:0;
}

.move-icon2 {
    margin-left: 28px;
    z-index:1;
}

/*
 * Sound animation
 */
.animate-sound1 {
    -webkit-animation: mymove 3s ease-in-out infinite; /* Chrome, Safari, Opera */
    animation: mymove 3s ease-in-out infinite;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {opacity: 0;}
    to {opacity: 1;}
    }

    @keyframes mymove {
        from {opacity: 0;}
        to {opacity: 1;}
    }

/* BELL */

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.faa-ring.animated,
.faa-ring.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-ring {
    -webkit-animation: ring 2s ease infinite;
    animation: ring 2s ease infinite;
    transform-origin-x: 50%;
    transform-origin-y: 0px;
    transform-origin-z: initial;
}

.faa-ring.animated.faa-fast,
.faa-ring.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-ring.faa-fast {
    -webkit-animation: ring 1s ease infinite;
    animation: ring 1s ease infinite;
}

.faa-ring.animated.faa-slow,
.faa-ring.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-ring.faa-slow {
    -webkit-animation: ring 3s ease infinite;
    animation: ring 3s ease infinite;
}

/* Button Animation */
.videobuttons-enter {
    -webkit-animation: fadeInUp linear 0.3s;
    animation: fadeInUp linear 0.3s;
}

.videobuttons-leave.videobuttons-leave-active {
    -webkit-animation: fadeOutDown linear 0.3s;
    animation: fadeOutDown linear 0.3s;
}

/* Video header animation */
.videoheader-enter {
    -webkit-animation: fadeInDown linear 0.3s;
    animation: fadeInDown linear 0.3s;
}

.videoheader-leave.videoheader-leave-active {
    -webkit-animation: fadeOutUp linear 0.3s;
    animation: fadeOutUp linear 0.3s;
}

.modal-danger > .modal-content > .modal-header {
    color:#a94442 !important;
    background-color: #f2dede;
    border-radius: 6px 6px 0 0;
    padding: 10px;
    border-color: #ebccd1;
}

.modal-danger > .modal-content {
    border-color:#ebccd1;
}

.capitalize {
    text-transform:capitalize;
}

.panel-body{
    color: #333;
    text-align: left;
}

.notifications-tr {
    right: 40px !important;
    z-index: 999 !important;
}
