
.modal-content a,
.modal-content a:focus,
.modal-content a:hover {
    color: #337ab7;
}

.modal-body .lead {
    font-size: 16px;
}

/*
 * Modal colors, text should not be white
 */

.modal-header, .modal-body, .modal-footer {
    color: #333;
}

.modal-danger > .modal-content > .modal-header {
    color:#a94442 !important;
    background-color: #f2dede;
    border-radius: 6px 6px 0 0;
    padding: 10px;
    border-color: #ebccd1;
}

.modal-danger > .modal-content {
    border-color:#ebccd1;
}
